:root {
    --primary: #2b6777;
    --secondary: #c8d8e4;
    --tertiary: #ffffff;
    --quart: #f2f2f2;
    --quint: #52ab98;
    --white: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.aboutme {
    height: 95vh;
    width: 100vw;
    background: var(--quart);
    position: absolute;
    z-index: 999;
    overflow-y: scroll;
}
.aboutme-container {
    height: 100%;
    width: 100%;
}

.aboutme-title {
    font-size: 7rem;
    font-weight: 100;
    color: var(--primary);
    margin-left: 20vw !important;
    margin-top: 5vh !important;
    animation: slideLeft 2s ease-in;
}

@keyframes slideLeft {
    0%{ 
        opacity: 0.3;
        transform: translateX(-500px); 
    }
    90% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.headshot {
    width: 30vw;
    animation: slideRight 2s ease-in;
    float: right;
    margin-right: 40px !important;
    margin-left: 40px !important;
    top: 10vw ;
}

@keyframes slideRight {
    0%{ 
        opacity: 0.3;
        transform: translateX(500px); 
    }
    90% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.aboutme-section {
    margin-left: 10vw !important;
    color: var(--primary);
    font-size: 1.3rem;
    animation: slideLeft 2s ease-in;
}

.aboutme-section a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--quint);
}

.aboutme-section a:hover {
    text-decoration:solid underline 1px;
}

@media screen and (max-width: 960px) {
    .aboutme-title {
        margin-left: 10vw !important;
        font-size: 4rem;
    }

    .aboutme-section {
        font-size: 0.8rem;
    }

    .aboutme-container {
        margin-bottom: 2vh !important;
    }
}

