.home-wrapper {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #395b82;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref {
  margin-bottom: 30px;
}

.welcome-section {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #91A6C1;
  color: #273E58;
  padding: 30px;
  margin: 0 0 20vh 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 2px;
}

.contact-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-section {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #273E58;
  border-radius: 2px;
  margin: 0;
}

.certifications-section {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

@media screen and (max-width: 780px) {
  .about-me-section {
    height: max-content;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .contact-section {
    margin-top: 0;
    height: 80vh;
    margin-bottom: 33vh;
  }

  .certifications-section {
    width: 80%;
  }
}