.about-me-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.about-title {
  font-size: 1.8rem;
  margin-bottom: 10px !important;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  width: fit-content;
}

.about-me-list {
  list-style: none;
  line-height: 1.6em;
  padding: 10px !important;
}

.about-element {
  font-weight: 100;
}

.about-element strong {
  color: aliceblue;
}


.link {
  color: #2B4461;
}

.link:focus {
  color: rgb(38, 0, 128);
}

.intro {
  width: 50%;
  line-height: 1.5em;
}

@media screen and (max-width: 780px) {
  .about-me-wrapper {
    flex-direction: column;
  }

  .intro {
    width: 100%;
  }
}