.certifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.certification {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  width: 35%;
  background-color: #233850;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
  transition: 350ms ease;
}

.certification:hover {
  transform: scale(1.04);
}

.certifications-title {
  font-size: 2em;
  margin: 0;
}

.cert-title {
  margin: 0;
  font-weight: 500;
  margin-top: 1vh;
}

.cert-label strong {
  text-transform: uppercase;
}

.cert-icon {
  padding: 10px;
  font-size: 2em;
}

.cert-upcoming-section {
  display: flex;
  border-radius: 3px;
  background-color: #233850;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  flex-direction: column;
  line-height: 1.8em;
  text-align: center;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.cert-info {
  width: 70%;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  line-height: 1.8em;
  border-radius: 3px;
  background-color: #233850;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  flex-direction: column;
  line-height: 1.8em;
  text-align: center;
}

.cert-paragraph {
  margin-top:  0;
  text-align: center;
}

.cert-link {
  color: rgb(78, 106, 158)
}

.cert-link:focus {
  color: aliceblue;
}

@media screen and (max-width: 780px) {

  .cert-title {
    text-transform: uppercase;
    font-size: 1em;
  }

  .cert-label {
    font-size: 0.9em;
  }
  .certification {
    margin-top: 10px;
    line-height: 1.5em;
    width: 80%;
  }

  .cert-info {
    width: 100%;
  }
}
