:root {
    --primary: #88bdbc;
    --secondary: #254e58;
    --tertiary: #112d32;
    --quart: #3b3831;
    --quint: #776f63;
    --white: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.footer {
    display: flex;
    background: var(--quint);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2rem 0 !important;
    margin-top: 95vh !important;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--tertiary);
}

.hire-button {
    padding-left: 10vw !important;
    line-height: 3;
}

.hire {
    padding: 0.8rem !important;
    font-size: 1.5rem;
    background: transparent;
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: 8px;
    transition: 0.1s ease-out;
}

.hire:hover {
    cursor: pointer;
    background: var(--quart);
    border: none;
}

.sad-face {
    color: var(--white);
}

.footer-prompt {
    font-size: 2rem;
}

.footer-prompt-text span {
    font-weight: bolder;
    color:var(--white);
    padding-left: 10vw !important;
}

.footer-credits {
    font-size: 1.2rem;
    color: var(--white);
    bottom: 2rem !important;
}

.website-rights {
    margin-left: -80vw !important;
    bottom: 0 !important;
    color: whitesmoke;
    font-size: 1.2rem;
}

.social {
    font-size: 2rem;
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    margin-left: 58vw !important;
}

.social a{
    color: var(--white);
}

.social a:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 960px) {
    .footer-prompt {
        font-size: 1.5rem;
        margin-left: 30px !important;
    }

    .hire {
        transform: scale(0.7);
    }

    .footer-prompt span {
        font-size: 1.4rem;
    }

    .social {
        font-size: 1.5rem;
    }

    .website-rights {
        font-size: 1rem;
        margin-left: -60vw !important;
    }
}