.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  background-color: #7B94B2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 20;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in
}

.nav.hide {
  top: -20%;
}


.nav-btn {
  border: none;
  margin: 2vh 3px;
  padding: 0.3em 0.5em;
  border-radius: 1px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  transition: 350ms ease;
  border-bottom: 6px solid transparent;
}

.nav-btn a {
  text-decoration: none;
}

.nav-btn:hover {
  cursor: pointer;
  filter:brightness(0.8);
  border-bottom: 6px solid aliceblue;
}

