@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --primary: #2b6777;
    --secondary: #c8d8e4;
    --tertiary: #ffffff;
    --quart: #f2f2f2;
    --quint: #52ab98;
    --white: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: var(--primary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.navbar-title {
    color: var(--secondary);
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: flex-end;
    margin-right: 2rem;
}

.glasses {
    font-size: 5rem;
    color: var(--secondary);
    animation: bounce 1.5s ease-in-out 0s 2;
}

.glasses:hover {
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0%{transform: translateY(0);}
    20%{transform: translateY(-40px);}
    25%{transform: translateY(5px);}
    35%{transform: translateY(0);}
    60%{transform: translateY(-5px);}
    100%{transform: translateY(-5px) rotate(360deg);}
}

.bars {
    color: var(--primary);
}

.nav-item {
    height: 80px;
}

.nav-link {
    color: var(--quart);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-link:hover {
    border-bottom: 8px solid var(--quint);
    opacity: 0.8;
    font-weight: 600;
    transition: all 0.2s ease-out;
}

.mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 960px) {

    .navbar {
        background: var(--secondary);
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 80px;
        position: absolute;
        left:-100%;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        justify-content: flex-start;
        background: #52ab98b0;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-link {
        text-align: center;
        padding-top: 3rem !important;
        width: 100%;
        opacity: 1;
        display: table;
    }

    .nav-link:hover {
        background-color: var(--primary);
        border-bottom: none;
        color: var(--white);
        border-radius: 0;
        opacity: 1;
    }

    .glasses {
        display: none;
    }

    .navbar-title {
        font-size: 1.5rem;
        margin-top: -40px !important;
        margin-left: -80px !important;
        position: fixed;
        color: var(--primary);
        transform: translate(25%, 50%);
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .quit {
        color: var(--primary);
        font-size: 2rem;
    }
}
