@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
  font-size: 9rem;
  font-weight: 100;
  color: aliceblue;
  font-family: 'Lobster', cursive;
}

.sub-title {
  font-size: 4em;
  color: aliceblue;
  font-weight: 100 !important;
}

h1 {
  margin-block-end: 0.4em;
}

h3 {
  font-weight: normal;
}

.welcome-wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.initial-navigation {
  display: flex;
  flex-direction: column;
}

.init-nav-btn {
  border: none;
  margin: 2vh 0;
  padding: 1em 1.5em;
  border-radius: 2px;
  text-transform: uppercase;
  color: #273E58;
  background-color: aliceblue;
}

.init-nav-btn a {
  text-decoration: none;
  color: #273E58;
}

.init-nav-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter:brightness(0.8);
}

@media screen and (max-width: 1107px) {
  .title {
    font-size: 5em;
  }

  .sub-title {
    font-size: 4em;
  }
}

@media screen and (max-width: 780px) {
  .title {
    font-size: 4em;
  }

  .sub-title {
    font-size: 2.8em;
  }

  .welcome-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .initial-navigation {
    flex-direction: row;
    width: fit-content;
    justify-content: space-evenly;
    margin: 5px;
  }

  .init-nav-btn {
    margin: 0 3px;
    padding: 1em 0.35em;
    font-size: 0.8em;
    white-space: nowrap;
  }
}


@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
